.bkg-lightblue {
	background-color: #0080ff;
}

.bkg-darkblue {
	background-color: #004c99;
}

.bkg-blue {
	background-color: #0000e5;
}

.bkg-lightgrey {
	background-color: #999999;
}

.bkg-grey {
	background-color: #777777;
}

.bkg-darkgrey {
	background-color: #555555;
}

.bkg-orange {
	background-color: #ffa500;
}

.bkg-red {
	background-color: #ff2500;
}

.bkg-darkred {
	background-color: #BF0000;
}

.bkg-magenta {
	background-color: #ff00ff;
}

.bkg-purple {
	background-color: #800080;
}

.bkg-green {
	background-color: #008000;
}

.bkg-lightgreen {
	background-color: #00cd00;
}

.bkg-greyblue {
	background-color: #0073AB;
}

.bkg-orangered {
	background-color: #B34B19;
}

.bkg-pastelgreen {
	background-color: #00ab8e;
}

.bkg-shade-light {
	background-color: #0000002c;
}

.bkg-shade-mid {
	background-color: #00000067;
}

.bkg-shade-dark {
	background-color: #000001bb;
}
